body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

#logo-nav {
  height: 1.5rem;
}

#valenflix{
  color: var(--color-base);
  font-weight: bold;
}

.detalle-contenedor {
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-between;
  background-color: aliceblue;
}

.detalle-titulo{
  color: var(--color-base);
  text-decoration: underline;
}

.detalle-sinopsis{
  color: var(--titulo);
}

.detalle-descripcion{
  color: var(--descripcion);
}

.detalle-fecha{
  color: var(--titulo);
}

.detalle-estrellas{
  color: var(--estrellas);
  font-weight: bold;
}

.detalle-img {
  width: 40%;
}

.detalle-cuerpo {
  width: 55%;
}

.detalle-btn {
  padding: 0.3rem 1rem;
  margin: 0;
  font-size: 0.9rem;
  border: 1px solid var(--color-base);
  border-radius: 5px;
  background-color: var(--color-base);
  color: aliceblue;
  text-decoration: none;
}

.detalle-btn:hover{
  background-color: aliceblue;
  color: var(--color-base);
}

.txt-footer {
  margin: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  #logo-nav {
    height: 1rem;
  }

  .detalle-contenedor{
    flex-direction: column;
    padding: 0.5rem;
  }

  .detalle-img {
    width: 100%;
  }

  .detalle-cuerpo {
    margin-top: 1rem;
    width: 100%;
  }

  .detalle-btn{
    font-size: 0.8rem;
  }

  .txt-footer {
    font-size: 0.7rem;
  }
}
