body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}
 #logo-nav{
  height: 1.5rem;
 }

 .container-categoria{
  margin: 1rem;
 }

 .container_tarjetas{
  display: flex;
  overflow: hidden;
 }

 .tarjeta{
  margin-right: 1rem;
  width: 20%;
  border: 1px grey solid;
  border-radius: 5px;
 }

 .tarjeta-imagen{
  width: 100%;
 }

 .tarjeta-cuerpo{
  margin: 0.5rem;
 }

 .txt-footer{
  text-align: center;
 }

 @media screen and (max-width: 768px){
  .container-categoria_videos{
    justify-content: space-between;
    overflow: hidden;
  }

  .tarjeta{
    width: 45%;
    margin-bottom: 1rem;
  }

 }