body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

#logo-nav {
  height: 1.5rem;
}

.container-categoria {
  margin: 0;
  padding: 1rem;
  background-color: aliceblue;
}

.categoria_titulo {
  margin: 1rem;
}

.container_tarjetas {
  display: flex;
  flex-wrap: wrap;
}

.tarjeta {
  margin: 1rem;
  width: 17.5%;
  height: 25rem;
  border: 1px grey solid;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px;
}

.tarjeta:hover{
  transition: 500ms;
  transform: scale(1.05);
  border: 1.5px var(--color-base) solid;
  box-shadow: none;
}

.tarjeta-imagen {
  border-radius: 5px 5px 0 0;
  height: 35%;
  width: 100%;
}

.tarjeta-cuerpo {
  height: 65%;
  padding: 0.5rem;
  background-color: #ffffff;
}

.tarjeta-titulo {
  font-size: 1.3rem;
  margin: 0;
  height: 20%;
  overflow: hidden;
}

.tarjeta-descripcion {
  margin: 0 0 2px 0;
  height: 65%;
  width: 100%;
  font-size: 0.8rem;
  overflow: hidden;
}

.tarjeta-boton {
  padding: 0.2rem 1rem;
  margin: 0;
  font-size: 0.9rem;
  border: 1px solid var(--color-base);
  border-radius: 5px;
  background-color: var(--color-base);
  color: aliceblue;
}

.tarjeta-boton:hover{
  background-color: aliceblue;
  color: var(--color-base);
}

.txt-footer {
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  #logo-nav {
    height: 1rem;
  }

  .container-categoria {
    margin: 0;
  }

  .categoria_titulo {
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
  }

  .container_tarjetas {
    justify-content: space-between;
  }

  .tarjeta {
    width: 42%;
    height: 20rem;
  }

  .tarjeta-imagen {
    height: 28%;
  }

  .tarjeta-cuerpo{
    height: 72%;
  }

  .tarjeta-titulo {
    font-size: 1rem;
  }

  .tarjeta-boton {
    font-size: 0.8rem;
  }

  .txt-footer {
    font-size: 0.7rem;
  }
}